[submodule "technical-projects/Caro-Hive/CaroHive-frontend"]
	path = technical-projects/Caro-Hive/CaroHive-frontend
	url = https://github.com/An-Be/CaroHive-frontend.git
[submodule "technical-projects/Caro-Hive/CaroHive-backend"]
	path = technical-projects/Caro-Hive/CaroHive-backend
	url = https://github.com/An-Be/CaroHive-backend.git
[submodule "technical-projects/Astrononomy-picture-of-day"]
	path = technical-projects/Astronomy-picture-of-day/Astrononomy-picture-of-day
	url = https://github.com/An-Be/Astrononomy-picture-of-day.git
[submodule "technical-projects/top-anime-archive"]
	path = technical-projects/Top-anime-archive/top-anime-archive
	url = https://github.com/An-Be/top-anime-archive.git
[submodule "technical-projects/Chattr"]
	path = technical-projects/Chattr/Chattr
	url = https://github.com/Multiverse-Workshop/Chattr.git
